In [1]:
words = '''one,
two,
three'''

words

'one,\ntwo,\nthree'

In [2]:
for item in words:
    print(item,end='-')

o-n-e-,-
-t-w-o-,-
-t-h-r-e-e-

In [3]:
# removing unwanted characters: space, newline, amnd comma
spc_nl_comma = ' \n,'
for letter in words:
    if letter not in spc_nl_comma:
        print(letter, end='')

onetwothree

In [4]:
# Store the cleaned list

cleaned = []

spc_nl_comma = ' \n,'
for letter in words:
    if letter not in spc_nl_comma:
        cleaned.append(letter)

print(cleaned)

['o', 'n', 'e', 't', 'w', 'o', 't', 'h', 'r', 'e', 'e']

In [5]:
# A nice way to display a list in Jupyter

as_one = ''.join(cleaned)
as_one

'onetwothree'

In [6]:
# ord converts a symbol to its ascii value

for letter in words:
    print(ord(letter), end='-')

111-110-101-44-10-116-119-111-44-10-116-104-114-101-101-

In [7]:
for letter in cleaned:
    print(ord(letter), end='-')

111-110-101-116-119-111-116-104-114-101-101-

In [8]:
ascii = list( map(ord, words))
ascii

[111, 110, 101, 44, 10, 116, 119, 111, 44, 10, 116, 104, 114, 101, 101]

In [9]:
with open("numbers.dat", "r") as f:
    for line in f:
        for letter in line:
            print(letter, end='')

1,2,3
4,5,6
7,8,9
10,11,12

In [10]:
with open("numbers.dat", "r") as f:
    for line in f:
        for letter in line:
            print(ord(letter), end='')

4944504451105244534454105544564457104948444949444950

In [11]:
ascii_vals = []

with open("numbers.dat", "r") as f:
    for line in f:
        for letter in line:
            ascii_vals.append(ord(letter))

In [12]:
chars = list( map(chr, ascii_vals))
chars

['1',
 ',',
 '2',
 ',',
 '3',
 '\n',
 '4',
 ',',
 '5',
 ',',
 '6',
 '\n',
 '7',
 ',',
 '8',
 ',',
 '9',
 '\n',
 '1',
 '0',
 ',',
 '1',
 '1',
 ',',
 '1',
 '2']

In [13]:
''.join(chars)

'1,2,3\n4,5,6\n7,8,9\n10,11,12'

In [14]:
with open("numbers.dat", "r") as f:
    for item in f:
        print(item.strip().split(','))

['1', '2', '3']
['4', '5', '6']
['7', '8', '9']
['10', '11', '12']

In [15]:
# unpacking
# number of variables must match the number of data items
a,b,c,d = 3,4,5,6
print(a)
print(b)

3
4

A bit about printing

In [16]:
print("a is", 3 , ", b is", 4)

a is 3 , b is 4

In [17]:
print("%s %d, %s %d" % ("a is", 3, "b is", 4))

a is 3, b is 4

In [18]:
print("%s %d" % ("2", 2))
print("%r %r" % ("2", 2))

2 2
'2' 2

In [19]:
output = "a is {0:3}, b is {1:3}".format(5, 10)
print(output)

a is   5, b is  10

In [20]:

with open("numbers.dat", "r") as f:
    for item in f:
        print(item.strip().split(','))

['1', '2', '3']
['4', '5', '6']
['7', '8', '9']
['10', '11', '12']

In [21]:
# multi-variable assignment (unpacking)

with open("numbers.dat", "r") as f:
    for item in f:
        a,b,c = item.strip().split(',')
        print("%r %r %r" % (a,b,c))

'1' '2' '3'
'4' '5' '6'
'7' '8' '9'
'10' '11' '12'

In [22]:
with open("numbers.dat", "r") as f:
    for item in f:
        a,b,c = map(int,item.strip().split(','))
        print("%r %r %r" % (a,b,c))
        # print(sum([a,b,c]))

1 2 3
4 5 6
7 8 9
10 11 12

In [23]:
data = []
with open("numbers.dat", "r") as f:
    for item in f:
        data.append(tuple(map(int,item.strip().split(','))))
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12)]

In [24]:
for tup in data:
    print(tup)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
(10, 11, 12)

In [25]:
for tup in data:
    print("num golds {0}, num silver {1}, num bronze {2}".format(tup[0], tup[1], tup[2]))

num golds 1, num silver 2, num bronze 3
num golds 4, num silver 5, num bronze 6
num golds 7, num silver 8, num bronze 9
num golds 10, num silver 11, num bronze 12

In [26]:
ipaddr = "192.168.1.34"
parts = ipaddr.split('.')

In [27]:
a,b,c,d = parts

In [28]:
print("A={0}, B={1}, C={2}, D={3}".format(a,b,c,d))

A=192, B=168, C=1, D=34

In [29]:
with open("apache.log", "r") as f:
    for record in f:
        print(record, end='')

192.168.1.34
192.168.1.35

In [32]:
import pycountry as pyc

In [33]:
country = pyc.countries.get(alpha_2='IE')
country

Country(alpha_2='IE', alpha_3='IRL', name='Ireland', numeric='372')

In [34]:
country.name

'Ireland'

In [35]:
dir(country)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'alpha_2',
 'alpha_3',
 'name',
 'numeric']

In [36]:
with open("apache.log", "r") as f:
    for record in f:
        print(record, end='')

64.242.88.10 - - [07/Mar/2004:16:05:49 -0800] "GET /twiki/bin/edit/Main/Double_bounce_sender?topicparent=Main.ConfigurationVariables HTTP/1.1" 401 12846
64.242.88.10 - - [07/Mar/2004:16:06:51 -0800] "GET /twiki/bin/rdiff/TWiki/NewUserTemplate?rev1=1.3&rev2=1.2 HTTP/1.1" 200 4523
64.242.88.10 - - [07/Mar/2004:16:10:02 -0800] "GET /mailman/listinfo/hsdivision HTTP/1.1" 200 6291
64.242.88.10 - - [07/Mar/2004:16:11:58 -0800] "GET /twiki/bin/view/TWiki/WikiSyntax HTTP/1.1" 200 7352
64.242.88.10 - - [07/Mar/2004:16:20:55 -0800] "GET /twiki/bin/view/Main/DCCAndPostFix HTTP/1.1" 200 5253
64.242.88.10 - - [07/Mar/2004:16:23:12 -0800] "GET /twiki/bin/oops/TWiki/AppendixFileSystem?template=oopsmoreÂ¶m1=1.12Â¶m2=1.12 HTTP/1.1" 200 11382
64.242.88.10 - - [07/Mar/2004:16:24:16 -0800] "GET /twiki/bin/view/Main/PeterThoeny HTTP/1.1" 200 4924
64.242.88.10 - - [07/Mar/2004:16:29:16 -0800] "GET /twiki/bin/edit/Main/Header_checks?topicparent=Main.ConfigurationVariables HTTP/1.1" 401 12851
64.242.88.10 - - [07/Mar/2004:16:30:29 -0800] "GET /twiki/bin/attach/Main/OfficeLocations HTTP/1.1" 401 12851
64.242.88.10 - - [07/Mar/2004:16:31:48 -0800] "GET /twiki/bin/view/TWiki/WebTopicEditTemplate HTTP/1.1" 200 3732
64.242.88.10 - - [07/Mar/2004:16:32:50 -0800] "GET /twiki/bin/view/Main/WebChanges HTTP/1.1" 200 40520
64.242.88.10 - - [07/Mar/2004:16:33:53 -0800] "GET /twiki/bin/edit/Main/Smtpd_etrn_restrictions?topicparent=Main.ConfigurationVariables HTTP/1.1" 401 12851
64.242.88.10 - - [07/Mar/2004:16:35:19 -0800] "GET /mailman/listinfo/business HTTP/1.1" 200 6379
64.242.88.10 - - [07/Mar/2004:16:36:22 -0800] "GET /twiki/bin/rdiff/Main/WebIndex?rev1=1.2&rev2=1.1 HTTP/1.1" 200 46373
64.242.88.10 - - [07/Mar/2004:16:37:27 -0800] "GET /twiki/bin/view/TWiki/DontNotify HTTP/1.1" 200 4140
64.242.88.10 - - [07/Mar/2004:16:39:24 -0800] "GET /twiki/bin/view/Main/TokyoOffice HTTP/1.1" 200 3853
64.242.88.10 - - [07/Mar/2004:16:43:54 -0800] "GET /twiki/bin/view/Main/MikeMannix HTTP/1.1" 200 3686
64.242.88.10 - - [07/Mar/2004:16:45:56 -0800] "GET /twiki/bin/attach/Main/PostfixCommands HTTP/1.1" 401 12846
64.242.88.10 - - [07/Mar/2004:16:47:12 -0800] "GET /robots.txt HTTP/1.1" 200 68

In [37]:
data = []
with open("apache.log", "r") as f:
    for record in f:
        data.append(record.strip().split(' '))

In [39]:
for record in data:
    print("IP = ", record[0])

IP =  64.242.88.10
IP =  64.242.88.10
IP =  64.242.88.10
IP =  64.242.88.10
IP =  64.242.88.10
IP =  64.242.88.10
IP =  64.242.88.10
IP =  64.242.88.10
IP =  64.242.88.10
IP =  64.242.88.10
IP =  64.242.88.10
IP =  64.242.88.10
IP =  64.242.88.10
IP =  64.242.88.10
IP =  64.242.88.10
IP =  64.242.88.10
IP =  64.242.88.10
IP =  64.242.88.10
IP =  64.242.88.10

In [41]:
sentence = "the rain in spain"

for letter in sentence:
    print (letter, end='')

the rain in spain

In [42]:
sentence = "the rain in spain"

freq = {}

for letter in sentence:
    freq[letter] = freq.get(letter,0) + 1

print(freq)

{'s': 1, 'n': 3, 'a': 2, 'h': 1, 'i': 3, 'r': 1, 'e': 1, ' ': 3, 'p': 1, 't': 1}