In [1]:
words = '''one
two
three'''
words

'one\ntwo\nthree'

In [2]:
for letter in words:
    if letter not in ' \n,':
        print(letter)

o
n
e
t
w
o
t
h
r
e
e

In [3]:
ascii = list(map(ord,words))
ascii

[111, 110, 101, 10, 116, 119, 111, 10, 116, 104, 114, 101, 101]

In [4]:
with open("numbers.dat", "r") as f:
    for line in f:
        for letter in line:
            print(letter)

1
,
2
,
3


4
,
5
,
6


7
,
8
,
9


1
0
,
1
1
,
1
2

In [5]:
with open("numbers.dat", "r") as f:
    for line in f:
        for letter in line:
            print(ord(letter))

49
44
50
44
51
10
52
44
53
44
54
10
55
44
56
44
57
10
49
48
44
49
49
44
49
50

In [6]:
ascii_vals = [111, 110, 101, 10, 116, 119, 111, 10, 116, 104, 114, 101, 101]
ascii_vals

[111, 110, 101, 10, 116, 119, 111, 10, 116, 104, 114, 101, 101]

In [8]:
cleaned = []
spc_nl_comma = ' \n,'
for letter in words:
    if letter not in spc_nl_comma:
        cleaned.append(letter)
cleaned

['o', 'n', 'e', 't', 'w', 'o', 't', 'h', 'r', 'e', 'e']

In [9]:
''.join(cleaned)

'onetwothree'

In [10]:
with open("numbers.dat", "r") as f:
    for item in f:
        print(item)

1,2,3

4,5,6

7,8,9

10,11,12

In [11]:
with open("numbers.dat", "r") as f:
    for item in f:
        print(item.strip().split(','))

['1', '2', '3']
['4', '5', '6']
['7', '8', '9']
['10', '11', '12']

In [13]:
a,b = 3,4
print("a is %d, b is %d" % (a,b))

a is 3, b is 4

In [14]:
a,b = 3,4
print("a is", a , ", b is", b)

a is 3 , b is 4

In [17]:
a,b = 3,4
print("a is {0}, b is {1}".format(a,b))

a is 3, b is 4

In [18]:
with open("numbers.dat", "r") as f:
    for item in f:
        a,b,c = item.strip().split(',')
        print(a,b,c)

1 2 3
4 5 6
7 8 9
10 11 12

In [19]:
data = []
with open("numbers.dat", "r") as f:
    for item in f:
        a,b,c = map(int(item.strip().split(',')))
        print(a,b,c)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [20]:
data = []
with open("numbers.dat", "r") as f:
    for item in f:
        a,b,c = map(int,item.strip().split(','))
        print(a,b,c)

1 2 3
4 5 6
7 8 9
10 11 12

In [21]:
data = []
with open("numbers.dat", "r") as f:
    for item in f:
        a,b,c = map(int,item.strip().split(','))
        print(sum(a,b,c))

TypeError: sum expected at most 2 arguments, got 3

In [22]:
data = []
with open("numbers.dat", "r") as f:
    for item in f:
        a,b,c = map(int,item.strip().split(','))
        print(sum([a,b,c]))

6
15
24
33

In [23]:
data = []
with open("numbers.dat", "r") as f:
    for item in f:
        data.append(map(int,item.strip().split(',')))
        print(sum(data))

TypeError: unsupported operand type(s) for +: 'int' and 'map'

In [28]:
data = []
with open("numbers.dat", "r") as f:
    for item in f:
        data.append(map(int,item.strip().split(',')))
data

[<map at 0x47d1ac8>,
 <map at 0x4802940>,
 <map at 0x48029b0>,
 <map at 0x4802a90>]

In [26]:
print("%r %r" % (3, '3'))

3 '3'

In [29]:
ipaddr = "192.168.1.30"
parts = ipaddr.split('.')

In [30]:
a,b,c,d = parts

In [31]:
print(a,b,c,d)

192 168 1 30

In [33]:
print("A = {0}\nB = {1}\nC = {2}\nD = {3}".format(a,b,c,d))

A = 192
B = 168
C = 1
D = 30

In [35]:
sentence = "the rain in spain"
freq = {}

for letter in sentence:
    freq[letter] = freq.get(letter,0) + 1
    
print(freq)

{'h': 1, 'n': 3, 'a': 2, ' ': 3, 'i': 3, 'r': 1, 'p': 1, 'e': 1, 't': 1, 's': 1}