In [1]:
nums = (1, 2, 3)
len(nums)

3

In [2]:
nums[0]

1

In [3]:
nums[-1]

3

In [4]:
# num[0] = 5 # tuples are immutable

### Exercise
Write code that will open the file *numbers.dat* and will dislay all the data

In [5]:
with open("numbers.dat", "r") as f:
    for item in f:
        print(item)

1,2,3

4,5,6

7,8,9

10,11,12

In [6]:
with open("numbers.dat", "r") as f:
    for item in f:
        print(item, end = "")

1,2,3
4,5,6
7,8,9
10,11,12

In [16]:
with open("numbers.dat", "r") as f:
    for item in f:
        print(item.strip('\n'))

1,2,3
4,5,6
7,8,9
10,11,12

In [14]:
"1,2,3,4,5".replace(',', ' ')

'1 2 3 4 5'

In [25]:
numbers = "1,2,3,4,5".split(',')
numbers

['1', '2', '3', '4', '5']

In [27]:
"1,2,3,4,5".split(',')

['1', '2', '3', '4', '5']

In [29]:
words = '''one
two
three'''
words

'one\ntwo\nthree'

### Exercise
Get the sum of the numbers on each line

In [34]:
stripped = words.rstrip('o')
stripped

'one\ntwo\nthree'

In [37]:
with open("numbers.dat", "r") as f:
    for item in f:
        print(type(item))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [38]:
with open("numbers.dat", "r") as f:
    for item in f:
        result += item
    print(result)

NameError: name 'result' is not defined

In [40]:
result = 0
with open("numbers.dat", "r") as f:
    for item in f:
        result += item
    print(result)

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [41]:
result = 0
with open("numbers.dat", "r") as f:
    for item in f:
        result += int(item)
    print(result)

ValueError: invalid literal for int() with base 10: '1,2,3\n'

In [42]:
'1,2,3\n'.split(',')

['1', '2', '3\n']

In [46]:
'1,2,3\n'.strip()

'1,2,3'

In [48]:
unknown = '1,2,3\n'.strip().split(',')

In [49]:
for item in unknown:
    print(type(item))

<class 'str'>
<class 'str'>
<class 'str'>

In [50]:
for item in unknown:
    print(type(int(item)))

<class 'int'>
<class 'int'>
<class 'int'>

In [54]:
result = 0
with open("numbers.dat", "r") as f:
    for item in f:
        numbers = item.strip().split(',')
        for num in numbers:
            result += int(num)
print(result)

78

In [56]:
result = 0
totals = []

with open("numbers.dat", "r") as f:
    for item in f:
        numbers = item.strip().split(',')
        print(numbers)
        print(map(int, numbers))

['1', '2', '3']
<map object at 0x00000000047B1CF8>
['4', '5', '6']
<map object at 0x00000000047B13C8>
['7', '8', '9']
<map object at 0x00000000047B1A90>
['10', '11', '12']
<map object at 0x000000000477F668>

In [57]:
result = 0
totals = []

with open("numbers.dat", "r") as f:
    for item in f:
        numbers = item.strip().split(',')
        print(numbers)
        for thing in map(int, numbers):
            print(type(thing), thing)

['1', '2', '3']
<class 'int'> 1
<class 'int'> 2
<class 'int'> 3
['4', '5', '6']
<class 'int'> 4
<class 'int'> 5
<class 'int'> 6
['7', '8', '9']
<class 'int'> 7
<class 'int'> 8
<class 'int'> 9
['10', '11', '12']
<class 'int'> 10
<class 'int'> 11
<class 'int'> 12

In [61]:
def double(n):
    return n * 2

nums = [1, 2, 3, 4]

list( map(double, nums))

[2, 4, 6, 8]

In [62]:
numlike = ['5','8','3','7']
numlike

['5', '8', '3', '7']

In [63]:
list(map(int,numlike))

[5, 8, 3, 7]

In [64]:
result = 0
totals = []

with open("numbers.dat", "r") as f:
    for item in f:
        numbers = item.strip().split(',')
        print(numbers)
        for thing in map(int, numbers):
            print(type(thing), thing)

['1', '2', '3']
<class 'int'> 1
<class 'int'> 2
<class 'int'> 3
['4', '5', '6']
<class 'int'> 4
<class 'int'> 5
<class 'int'> 6
['7', '8', '9']
<class 'int'> 7
<class 'int'> 8
<class 'int'> 9
['10', '11', '12']
<class 'int'> 10
<class 'int'> 11
<class 'int'> 12

In [65]:
line = '''a
b
'''
line

'a\nb\n'

In [66]:
line.strip()

'a\nb'

In [67]:
line

'a\nb\n'

In [68]:
line.replace('\n','')

'ab'

In [69]:
result = 0
totals = []

with open("numbers.dat", "r") as f:
    for item in f:
        numbers = item.strip().split(',')
        intgrs = list(map(int, numbers))
        
        for thing in map(int, numbers):
            print(type(thing), thing)

<class 'int'> 1
<class 'int'> 2
<class 'int'> 3
<class 'int'> 4
<class 'int'> 5
<class 'int'> 6
<class 'int'> 7
<class 'int'> 8
<class 'int'> 9
<class 'int'> 10
<class 'int'> 11
<class 'int'> 12

In [72]:
numbers = ['1','2','3']
actual_numbers = list(map(int, numbers))

In [73]:
sum(actual_numbers)

6

In [75]:
result = 0
totals = []

with open("numbers.dat", "r") as f:
    for item in f:
        numbers = item.strip().split(',')
        intgrs = list(map(int, numbers))
        
        totals.append(sum(intgrs))
print(totals)

[6, 15, 24, 33]

In [78]:
totals = []

with open("numbers.dat", "r") as f:
    for line in f:
        stringy_numbers = line.strip().split(',')    
        totals.append(sum(map(int, stringy_numbers)))
print(totals)

[6, 15, 24, 33]

In [77]:
sum(map(int, numbers))

33

### Exercise
Convert the numbers.dat file to  list of tuples